.pageContainer {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.searchBarContainer {
    margin-bottom: 20px;
    text-align: center;
}

.searchBar {
    width: 80%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid  #f4ede1;
    border-radius: 6px;
    width: 140px;
}

.searchBar:focus {
    border-color: #3c574f;
    outline: none;
   
}

.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filterCategory,
.filterPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.filterCategory select,
.filterPrice input {
    padding: 6px;
    font-size: 14px;
    border: 1px solid  #f4ede1;
    border-radius: 6px;
    width: 140px;
}

.filterCategory select:focus,
.filterPrice input:focus {
    border-color: #3c574f;
    outline: none;
    box-shadow: 0 0 5px rgba(49, 66, 60, 0.904);
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.productCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.productImage:hover {
    transform: scale(1.05);
}

.productName {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #802d0f;
}

.productPrice {
    font-size: 1.2rem;
    color: #3c574f;
    margin-bottom: 10px;
    font-weight: bold;
}

.productCategory {
    font-size: 1.5rem;
    color: #1e1d20;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .searchBar {
        width: 80%;
    }

    .filtersContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .filterCategory select,
    .filterPrice input {
        width: 100%;
    }

    .productGrid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .productCard {
        padding: 15px;
    }

    .productName {
        font-size: 1.5rem;
    }
}